# Do not include azure-functions-worker in this file
# The Python Worker is managed by the Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions==1.18.0
azure-servicebus==7.12.1
azure-identity==1.16.0
azure-mgmt-containerinstance==10.1.0
azure-messaging-webpubsubservice==1.0.1
pymongo==4.6.3
requests==2.26.0
PyJWT==2.8.0
Werkzeug==3.0.2
python-multipart==0.0.9
azure-storage-blob===12.19.1
